/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

@font-face {
  font-family: "edosz", sans-serif;
  src: url(fonts/edosz.ttf) format('truetype');
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #FDF8F5;
  color: #4F4846;
}

h1,
h2 {
  margin: 20px;
  font: bold;
}

main {
  padding: 60px 0;
  text-align: center;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #FDF8F5;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #691307;
}

header {
  position: fixed;
  border-bottom: 10px solid #DDAF94;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #4F4846;
  color: #FDF8F5;    
}

figure {
  margin-bottom: 40px;
}

img {
  display: inline-block;
  margin: 20px auto;
  height: 400px;
  width: 300px;
  border: black solid;
  box-shadow: 10px 5px 5px grey;
  cursor: pointer;
}

img:active {
  display: inline-block;
  margin: 20px auto;
  height: 750px;
  width: 575px;
  border: black solid;
  box-shadow: 10px 5px 5px grey;
}

#contact {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #DDAF94;
  background-color:  #E8CEBF;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #DDAF94;
  border-radius: 20px;
  font: bold;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  display: inline-block;
  width: 100px;
  text-align: center;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4F4846;
  display: block;

  padding: 10px;
  margin: 10px 0 0 -10px;
  width: 100%;
  height: 90%;

  border-right: 1px solid;

  /* resize  : none; */
  overflow: auto;
}

button {
  height: 40px;
  width: 120px;
  background-color: #4F4846;
  color: #FDF8F5;
}
 
/* Class Selectors */
.text-center {
  text-align: center;
  padding: 0px 100px 0 100px;
}

.text-right {
  text-align: right;
}

link {
  border: black 10px;
  margin: black 10px;
  box-shadow: 10px 10px 5px gray;
  display: flex;
  flex-direction: row;
}

button {
  padding: 4px;
  font: bold 0.6em sans-serif;
  border: 2px solid #333;
  border-radius: 10px;
  background: none;
  cursor: pointer;
}

button:after {
  content: " >>>";
}

button:hover,
button:focus {
  outline: none;
  background: #757575;
  color: #fff;
}

.the-box {
  background-color: #FDF8F5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-box {
  width: 1477px;
  height: 600px;
  background-color: orange;
  border: 3px solid black;
  margin: 10px 10px 10px 10px;
  box-shadow: 10px 5px 5px grey;
  background-image: url("../images/Castle.png");
  transition: transform .2s;
}

.big-box:hover {
  cursor: pointer;
  background-color: orangered;
  transform: scale(1.1);
}

.small-box-g {
  background-color: #FDF8F5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.small-box {
  width: 350px;
  height: 150px;
  background-color: orange;
  border: 3px solid black;
  margin: 10px 10px 10px 10px;
  box-shadow: 10px 5px 5px grey;
  background-image: url("../images/Dev.png");
  transition: transform .2s;
}

.small-box1 {
  width: 350px;
  height: 150px;
  background-color: orange;
  color: black;
  border: 3px solid black;
  margin: 10px 10px 10px 10px;
  box-shadow: 10px 5px 5px grey;
  background-image: url("../images/Flexbox.png");
  transition: transform .2s;
}

.small-box2 {
  width: 350px;
  height: 150px;
  background-color: orange;
  border: 3px solid black;
  margin: 10px 10px 10px 10px;
  box-shadow: 10px 5px 5px grey;
  background-image: url("../images/Lipsum.jpg");
 
  transition: transform .2s;
}

.small-box3 {
  width: 350px;
  height: 150px;
  background-color: orange;
  border: 3px solid black;
  color: black;
  margin: 10px 10px 10px 10px;
  box-shadow: 10px 5px 5px grey;
  background-image: url("../images/scrimba.png");
  transition: transform .2s;
}

.small-box4 {
  width: 350px;
  height: 150px;
  background-color: orange;
  color: black;
  border: 3px solid black;
  margin: 10px 10px 10px 10px;
  box-shadow: 10px 5px 5px grey;
  background-image: url("../images/Stackover.png");
  transition: transform .2s;
}

.small-box5 {
  width: 350px;
  height: 150px;
  background-color: orange;
  border: 3px solid black;
  margin: 10px 10px 10px 10px;
  box-shadow: 10px 5px 5px grey;
  background-image: url("../images/Semantic.jpg");
  transition: transform .2s;
}

.small-box6 {
  width: 350px;
  height: 150px;
  background-color: orange;
  border: 3px solid black;
  margin: 10px 10px 10px 10px;
  color: black;
  box-shadow: 10px 5px 5px grey;
  background-image: url("../images/Figma.png");
  transition: transform .2s;
}

.small-box7 {
  width: 350px;
  height: 150px;
  background-color: orange;
  border: 3px solid black;
  margin: 10px 10px 10px 10px;
  box-shadow: 10px 5px 5px grey;
  background-image: url("../images/Mdn.png");
  transition: transform .2s;
}

.small-box:hover,
.small-box1:hover,
.small-box2:hover,
.small-box3:hover,
.small-box4:hover,
.small-box5:hover,
.small-box6:hover,
.small-box7:hover {
  cursor: pointer;
  background-color: orangered;
  transform: scale(1.1);
}

